.Product {
  font-size: 10px;

  display: flex;
  flex-direction: column;

  text-decoration: none;

  &:visited, &:active {
    color: currentColor;
  }

  &__banner {
    width: 101.57px;
    height: 98px;

    border-radius: 4px;
    margin: 3px 0;
  }

  &__details {
    color: var(--color-dark-grey);

    width: 100px;

    word-break: break-all;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price {
    font-size: 12px;
    font-weight: 600;

    margin: 3px 0;
  }

  &__meta {
    color: var(--color-dark-grey);
  }
}
